@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General style */
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h1, h2 ,p{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 18px;
}

img{
    object-fit: cover;
}
button{
    background-color: #3882F6;
    width: fit-content;
    padding: 5px 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border-radius: 5px;
}
h1 {
    font-size: 48px;
    color: antiquewhite;
    font-weight: 900;
}
p{
    font-size: 18px;
}

 .part-one{
    color: antiquewhite;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.nav-bar{
    display: flex;
    padding: 20px 200px;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    font-size: 24px;
    font-weight: bold;
}
.intro{
    display: flex;
    background: #1f2937;
    padding: 100px 200px;
    gap: 50px;
    max-height: 250px;  
}
.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    max-width: 400px;
    min-width: 350px;
}
.intro-img{
    display: flex;
    flex: 1; 
}

.part-two{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px 200px 100px;
}
h2{
    margin-bottom: 40px;
}
.illustrations{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.ill-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}
.ill-block img{
    border: 5px solid #3882F6;
    border-radius: 15px;
}

.part-three{
    display: flex;
    flex-direction: column;
    padding: 100px 540px;
    background-color: #e5e7eb;
}
.quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    align-self: flex-start;
}
.author{
    font-weight: 900;
    align-self: flex-end;
}

